*~
*.pyc
*.db
*.root
*.sqp
*.swo
*.swn
*.swm
*.pyc
*.json
*.log
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.gz
*.html
*.txt
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
crab_projects/
*crab_auto*.py
*dimu*for_crab.py
.ipynb_checkpoints/
oldcrabprojects/